In [1]:
from gz_import import *
from gz_mainlib import *
from gz_plotlib import *
from gz_dwnllib import *
from gz_rwlib import *
from gz_const import *

mainver()
plotver()
rwver()
dwnlver()
constver()

Main ver: 67
Plot ver: 67
RW ver: 67
Download ver: 71
Const ver: 71

In [2]:
reloadlibs()
from gz_import import *
from gz_mainlib import *
from gz_plotlib import *
from gz_dwnllib import *
from gz_rwlib import *
from gz_const import *

In [3]:
#hdf5_contain('dat.h5')
#hdf5_writejson('dat.h5', 'yfinfo', yf_dict_new)
#hdf5_rewrite('dat.h5', 'datnew.h5')

In [3]:
#YAHOO

yahoo_for_load = us_tics_download + ['SXT', 'KIM', 'LSTR', 'STAG', 'DRE', 'EXPD'] 

#noloads = ['ALXN', 'LB', 'TOT']
#yahoo_for_load = list(set(yahoo_for_load) ^ set(noloads))

moex_for_load = ru_tics_download

print('Yahoo for load:', len(yahoo_for_load))

#загружаем
time1 = time.monotonic()
dfy, dfy_corr, dfy_doclh,nloaded_yahoo, err_yahoo = download_yahoo_mt(yahoo_for_load, pool_size=100)
time2 = time.monotonic()

#dfy1, dfy1_doclh = download_yf_tics(us_tics, t1, now) #reserve load

print('Load time, sec: {0:.2f}'.format(time2-time1))
print('Loaded yahoo:', nloaded_yahoo)
print('Error:', err_yahoo)
print('Yahoo loaded.')
print('')


if err_yahoo[0] != 'No errors' and err_yahoo[0] != 'No loads':
    #second attempt
    
    print('Another attempt..')
    dfy1, dfy1_corr, dfy1_doclh, nloaded_yahoo1, err_yahoo1 = \
                  download_yahoo_mt(err_yahoo, pool_size=100, load_index=False)

    if err_yahoo1[0] == 'No loads' or len(list(set(err_yahoo) ^ set(err_yahoo1))) == 0:
        print('No loads')
    else:
        print('Loads:', list(dfy1.columns[1:]))
        dfy = pd.merge(dfy, dfy1, on='date')
        dfy_doclh = pd.merge(dfy_doclh, dfy1_doclh, on='date')
        dfy_corr = correlation_returns(dfy)
        print('Loads err tics:', list(dfy1.coumns[1:]))

l_nodata_dfy = dfy.columns[dfy.isnull().any()].tolist()

if len(l_nodata_dfy) > 0:
    print('Yahoo NaN val:',l_nodata_dfy)
    dfy.drop(l_nodata_dfy, axis='columns', inplace=True)
    dfy_corr.drop(l_nodata_dfy, axis='columns', inplace=True)
    dfy_corr.drop(l_nodata_dfy, axis='index', inplace=True)
    print('Yahoo columns with NaN val deleted')

Yahoo for load: 348
Start load SP500, NASDAQ index... loaded
Load: 349. Errs(1): JCOM
Print thread stopped
Load time, sec: 10.24
Loaded yahoo: 349
Error: ['JCOM']
Yahoo loaded.

Another attempt..
Load: 0  . Errs(1): JCOM
Print thread stopped
No loads
No loads

In [4]:
dfy

,date,SP500,NASDAQ,AAPL,ABMD,ADBE,ABBV,ACAD,ADS,ACN,...,WMT,VZ,WU,ZYXI,XRX,DRE,WFC,XOM,EXPD,KIM
0,2020-01-02,3257.850098,9092.190430,73.894325,168.809998,334.429993,80.137352,41.110001,87.272293,203.776077,...,115.155830,55.290840,24.101198,7.200000,33.494518,32.768448,50.750061,61.853081,76.997917,18.098192
1,2020-01-03,3234.850098,9020.769531,73.175919,166.820007,331.809998,79.376686,40.349998,85.642914,203.436691,...,114.139229,54.702168,24.018372,7.590909,33.059177,33.369091,50.438477,61.355816,76.526199,18.292101
2,2020-01-06,3246.280029,9071.469727,73.759018,179.039993,333.709991,80.003113,42.810001,86.030884,202.108261,...,113.906883,54.584423,23.788311,7.654545,32.560341,33.006794,50.136337,61.826916,75.504150,18.532177
3,2020-01-07,3237.179932,9068.580078,73.412109,180.350006,333.390015,79.546707,42.180000,85.542068,197.744751,...,112.851555,53.977627,23.898741,7.763636,32.605682,32.797047,49.720890,61.320911,75.307594,18.310570
4,2020-01-08,3253.050049,9129.240234,74.593033,178.690002,337.869995,80.110497,44.410000,85.511024,198.132645,...,112.464279,54.077255,24.110401,7.700000,32.587543,32.987728,49.871964,60.396172,75.061913,18.236698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,2022-01-31,4515.549805,14239.879883,174.557602,295.869995,534.299988,136.889999,22.490000,69.040001,353.579987,...,139.809998,53.230000,18.910000,7.920000,21.110001,57.779999,53.559521,75.959999,114.480003,24.260000
525,2022-02-01,4546.540039,14346.000000,174.387817,301.350006,535.979980,137.000000,23.840000,69.750000,353.420013,...,140.910004,53.200001,19.260000,7.900000,22.059999,57.209999,55.351475,80.830002,114.449997,24.160000
526,2022-02-02,4589.379883,14417.549805,175.616257,307.959991,533.090027,138.619995,23.410000,69.860001,359.470001,...,140.850006,53.799999,18.930000,7.310000,22.090000,58.860001,55.680000,80.620003,114.279999,24.530001
527,2022-02-03,4477.439941,13878.820312,172.679993,290.519989,510.829987,140.729996,23.129999,68.610001,345.549988,...,140.990005,53.790001,18.650000,7.290000,21.940001,58.799999,55.169998,79.680000,111.070000,24.040001
528,2022-02-04,4500.529785,14098.009766,172.389999,295.649994,513.539978,140.649994,23.600000,69.199997,347.500000,...,139.330002,53.310001,18.139999,7.520000,22.040001,57.680000,56.330002,81.410004,109.739998,23.830000

In [5]:
#MOEX
print('MOEX for load:', len(moex_for_load))
#загружаем
time1 = time.monotonic()
dfm, dfm_corr, dfm_doclh, nloaded_moex, err_moex = download_moex_mt(moex_for_load)
time2 = time.monotonic()

print('Load time, sec: {0:.2f}'.format(time2-time1))
print('Loaded MOEX:', nloaded_moex)
print('Error:', err_moex)
print('MOEX loaded.')
print('')

l_nodata_dfm = dfm.columns[dfm.isnull().any()].tolist()


if len(l_nodata_dfm) > 0:
    print('MOEX NaN val:',l_nodata_dfm)
    dfm.drop(l_nodata_dfm, axis='columns', inplace=True)
    dfm_corr.drop(l_nodata_dfm, axis='columns', inplace=True)
    dfm_corr.drop(l_nodata_dfm, axis='index', inplace=True)
    print('MOEX columns with NaN val deleted')

MOEX for load: 121
Start load MOEX, RTSI index... loaded
Load: 122. Errs(1): UWGN_NaT_nodata
Print thread stopped
Load time, sec: 32.09
Loaded MOEX: 122
Error: ['UWGN_NaT_nodata']
MOEX loaded.

MOEX NaN val: ['SELGP']
MOEX columns with NaN val deleted

In [6]:
dfm

,date,IMOEX,RTSI,NKHP,SFIN,LNZL,RUGR,CNTL,ABRD,ROLO,...,OGKB,RSTI,TATN,MTSS,YNDX,ALRS,AFLT,SNGS,SBERP,GAZP
0,2020-01-03,3076.37,1564.18,251.0,535.0,7260.0,5.124,17.75,138.0,4.080,...,0.5708,1.4156,776.7,322.10,2685.0,85.33,103.34,51.375,226.40,259.00
1,2020-01-06,3078.87,1568.35,250.5,536.8,8140.0,5.180,17.85,138.0,4.110,...,0.5720,1.4167,776.0,323.45,2672.0,85.24,103.52,52.200,225.95,256.55
2,2020-01-08,3110.06,1589.08,255.5,539.0,8330.0,5.316,17.95,137.5,4.050,...,0.5712,1.4326,788.0,328.15,2677.0,85.45,102.88,52.000,230.38,255.79
3,2020-01-09,3118.08,1601.74,257.5,524.0,7790.0,5.348,17.85,138.5,4.000,...,0.5867,1.4795,806.7,324.30,2728.4,87.78,104.50,53.645,231.00,254.07
4,2020-01-10,3123.66,1614.69,259.0,514.0,7710.0,5.196,18.55,138.5,3.950,...,0.5800,1.5090,801.0,319.40,2725.0,89.30,105.04,54.000,232.00,251.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,2022-01-31,3530.38,1435.23,279.5,473.8,9120.0,11.728,11.42,177.5,8.670,...,0.5912,1.0480,499.7,287.40,3717.6,113.80,57.32,36.530,255.53,334.80
526,2022-02-01,3548.17,1457.64,280.0,466.0,9140.0,11.700,11.32,176.5,8.860,...,0.5797,1.0330,491.7,289.60,3724.0,114.98,57.12,35.945,252.60,330.95
527,2022-02-02,3543.80,1463.90,276.0,469.8,9130.0,11.766,11.28,176.0,8.880,...,0.5790,1.0104,491.5,285.80,3675.0,117.68,57.20,35.810,249.12,331.70
528,2022-02-03,3471.18,1431.99,270.5,467.4,9090.0,11.650,11.24,171.5,8.705,...,0.5708,0.9886,487.9,284.60,3517.0,115.23,55.70,35.650,239.90,323.75
529,2022-02-04,3471.01,1436.00,275.0,468.8,9070.0,11.676,11.24,171.5,8.645,...,0.5741,0.9995,490.8,283.25,3502.4,116.34,56.18,36.100,245.00,324.60

In [6]:
#aa,bb = download_yf_tics('BZ=F')

In [27]:
#df_brent, _, _, _, _  = download_yahoo_mt('BZ=F', date_start, date_end, load_index=False)
df_brent, _, _, _, _  = download_yahoo_mt('BZ=F', load_index=False)

i = 0    
while(df_brent is None and i < 5):
    #print('Brent (BZ=F) not loaded attempt=',i)
    df_brent, _, _, _, _  = download_yahoo_mt('BZ=F', load_index=False)
    i += 1
    sleep(5)
    
if(df_brent is None):
    print('Brent (BZ=F) not loaded!')
else:
    df_brent.rename(columns={'BZ=F': 'BRENT'}, inplace=True)
    print('BRENT loaded.')
    
    

df_brent

Load: 1  . Errs(0):
Print thread stopped
BRENT loaded.

          date      BRENT
0   2020-01-02  66.250000
1   2020-01-03  68.599998
2   2020-01-06  68.910004
3   2020-01-07  68.269997
4   2020-01-08  65.440002
..         ...        ...
466 2021-11-05  82.739998
467 2021-11-08  83.430000
468 2021-11-09  84.779999
469 2021-11-10  82.639999
470 2021-11-11  82.870003

[471 rows x 2 columns]

In [35]:
#df_brent, _, _, _, _  = download_yahoo_mt('BZ=F', load_index=False)
#df_brent
#df_brent.drop(447, axis=0, inplace=True)
aaa, bbb = download_yf_tics('BZ=F')

[*********************100%***********************]  3 of 3 completed

In [37]:
#запись в HDF5
#df_instruments.to_hdf('dat.h5', 'df_instruments') #почему то увеличивает размер hdf5 при перезаписи

dfy.to_hdf('dat.h5', 'dfy')
dfy_corr.to_hdf('dat.h5', 'dfy_corr')
dfy_doclh.to_hdf('dat.h5', 'dfy_doclh')

dfm.to_hdf('dat.h5', 'dfm')
dfm_corr.to_hdf('dat.h5', 'dfm_corr')
dfm_doclh.to_hdf('dat.h5', 'dfm_doclh')

#df_brent.to_hdf('dat.h5', 'df_brent')

In [38]:
df_brent.to_hdf('dat.h5', 'df_brent')

In [39]:
hdf5_rewrite('dat.h5', 'dat2.h5')
#hdf5_delete_dataset('dat.h5', 'df_usindex')
#hdf5_contain('dat.h5')

['df_brent',
 'df_instruments',
 'dfm',
 'dfm_coint',
 'dfm_corr',
 'dfm_doclh',
 'dfy',
 'dfy_coint',
 'dfy_corr',
 'dfy_doclh',
 'l_industry_retrisksharpe',
 'sp500_tics',
 'us_tics_download',
 'us_tics_short',
 'yfinfo']

In [10]:
#download_yahoo_doclh_2('BZ=F', date_start, date_now)

In [81]:
#S&P 500
#payload = pd.read_html('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
#first_table = payload[0]
#second_table = payload[1]
#sp500_tics = len(sorted(first_table['Symbol'].tolist()))
#hdf5_writejson('dat.h5', 'sp500_tics', sp500_tics)
#hdf5_contain('dat.h5')
#sp500_tics = hdf5_readjson('dat.h5', 'sp500_tics')